<div *ngIf="mostrarActualizar"> 
<h2>Actualizar usuario</h2>    
<form [formGroup]="actualizarForm" (ngSubmit)="actualizar()">
  <div class="row">
    <div class="col-sm-2">
      <label>id:</label>
    </div>
    <div class="col-sm-4">
      <input readonly type="number" id="id" name="id" placeholder="id usuario" class="form-control"
        formControlName="id">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>identificación:</label>
    </div>
    <div class="col-sm-4">
      <input readonly type="text" id="identificacionUsuario" name="identificacionUsuario" placeholder="nombre usuario" class="form-control"
        formControlName="identificacionUsuario">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Nombre:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="nombreUsuario" name="nombreUsuario" placeholder="nombre usuario" class="form-control"
        formControlName="nombre">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Apellido:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="apellidoUsuario" name="apellidoUsurio" placeholder="apellido usuario"
        class="form-control" formControlName="apellido">
    </div>
  </div>  
   <div><button class="btn btn-primary" type="submit" >Actualizar</button>
    <button class="btn btn-primary" (click)="ocultar()">Cancelar</button>
  </div>
  <div *ngIf="mostrarMensajeError" class="alert alert-danger" role="alert">{{mensajeError.error.mensaje}}</div>
</form>
</div>
